.data-footer{
    background:rgb(51,51,51);
    color:whitesmoke;
    width:100%;
    height:200px;
}
.data-footer>.col-md-8>.list-inline>li>a{
    color:white;
}
.data-footer>.col-md-8>.list-inline>li>a:hover{
    text-decoration: none;
    color:darkorange;
}
.data-footer ul.list-inline{
    margin-top:20px;
    font-size:1.2em;
}
hr{
    border:1px dashed lightslategray;
}
.data-footer>.col-md-4>.row img{
    margin-top:70%;
    margin-left:50%;
}
.data-footer>.col-md-4>.row>.col-md-8{
    margin-top:50px;
    font-size:1.5em;
}